openapi: 3.1.0
info:
  title: Offisim Platform and Local Install APIs
  version: 0.2.0
  summary: Platform marketplace APIs plus local runtime install/import contract snapshots.
  description: >
    This file tracks the current public platform HTTP surface mounted from `apps/platform/src/index.ts`
    together with the local install transaction contract used by `packages/install-core`.
    Public marketplace reads are unauthenticated. Creator publishing, reviews, creator bootstrap,
    install receipt recording, and user library access require authenticated user context.
    Better Auth native session endpoints under `/api/auth/*` and API token management under
    `/v1/auth/tokens` are implementation-owned and intentionally not expanded here.
    Local install/import endpoints remain declaration-driven: no arbitrary install hooks,
    no postinstall scripts, and no remote code execution during import.
servers:
  - url: https://api.offisim.market
    description: Registry and marketplace API
  - url: http://127.0.0.1:43111
    description: Local desktop runtime API
tags:
  - name: Creator Auth
  - name: Market Public
  - name: Creator Profiles
  - name: Creator Publish
  - name: User Library
  - name: Install Platform
  - name: Install Runtime
  - name: Reviews
security: []
paths:
  /v1/auth/register-creator:
    post:
      tags: [Creator Auth]
      summary: Register a creator profile for the authenticated user
      operationId: registerCreator
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterCreatorRequest'
      responses:
        '200':
          description: Creator profile created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorRegistration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Authenticated user context missing a linked platform user
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '409':
          description: Handle already taken or user already has a creator profile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
  /v1/market/search:
    get:
      tags: [Market Public]
      summary: Search public marketplace listings
      operationId: searchMarketplace
      security: []
      parameters:
        - in: query
          name: q
          schema: { type: string, maxLength: 200 }
          description: Full-text query over title, summary, creator, and tags.
        - in: query
          name: kind
          schema:
            type: string
            enum: [employee, skill, sop, company_template, office_layout, bundle, prefab]
        - in: query
          name: risk_class
          schema:
            type: string
            enum: [data_asset, logic_asset, privileged_asset]
        - in: query
          name: tag
          schema: { type: string, maxLength: 32 }
        - in: query
          name: sort
          schema:
            type: string
            enum: [relevance, newest, updated, rating, installs]
            default: relevance
        - in: query
          name: page
          schema: { type: integer, minimum: 1, default: 1 }
        - in: query
          name: per_page
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        '200':
          description: Search result page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
  /v1/market/listings/{listingId}:
    get:
      tags: [Market Public]
      summary: Get public marketplace listing detail
      operationId: getListingDetail
      security: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
      responses:
        '200':
          description: Listing detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingDetail'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/market/listings/by-slug/{slug}:
    get:
      tags: [Market Public]
      summary: Get public marketplace listing detail by slug
      operationId: getListingDetailBySlug
      security: []
      parameters:
        - $ref: '#/components/parameters/Slug'
      responses:
        '200':
          description: Listing detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingDetail'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/market/listings/{listingId}/versions:
    get:
      tags: [Market Public]
      summary: Get visible versions for a listing
      operationId: listListingVersions
      security: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
      responses:
        '200':
          description: Versions for a listing
          content:
            application/json:
              schema:
                type: object
                required: [listing_id, versions]
                properties:
                  listing_id: { type: string }
                  versions:
                    type: array
                    items:
                      $ref: '#/components/schemas/VersionSummary'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/market/listings/{listingId}/reviews:
    get:
      tags: [Market Public, Reviews]
      summary: List visible reviews for a listing
      operationId: listListingReviews
      security: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
      responses:
        '200':
          description: Review list
          content:
            application/json:
              schema:
                type: object
                required: [listing_id, reviews]
                properties:
                  listing_id: { type: string }
                  reviews:
                    type: array
                    items:
                      $ref: '#/components/schemas/Review'
  /v1/market/listings/{listingId}/reports:
    post:
      tags: [Market Public]
      summary: Report a listing for moderation review
      operationId: reportListing
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingReportRequest'
      responses:
        '201':
          description: Report created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationFlag'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Only the listing creator can change listing status
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: The current user already reported this listing
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
  /v1/market/listings/{listingId}/forks:
    get:
      tags: [Market Public]
      summary: List listings that forked from this listing
      operationId: listListingForks
      security: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
      responses:
        '200':
          description: Fork listings
          content:
            application/json:
              schema:
                type: object
                required: [forks]
                properties:
                  forks:
                    type: array
                    items:
                      $ref: '#/components/schemas/ForkSummary'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/market/listings/{listingId}/lineage:
    get:
      tags: [Market Public]
      summary: Get lineage chain for a listing
      operationId: getListingLineage
      security: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
      responses:
        '200':
          description: Listing lineage
          content:
            application/json:
              schema:
                type: object
                required: [ancestors, descendants]
                properties:
                  ancestors:
                    type: array
                    items:
                      $ref: '#/components/schemas/LineageNode'
                  descendants:
                    type: array
                    items:
                      $ref: '#/components/schemas/LineageNode'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/market/listings/{listingId}/status:
    patch:
      tags: [Creator Publish]
      summary: Change listing visibility status for the owning creator
      operationId: patchListingStatus
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingStatusPatchRequest'
      responses:
        '200':
          description: Listing status updated
          content:
            application/json:
              schema:
                type: object
                required: [ok, listing_id, status]
                properties:
                  ok: { type: boolean }
                  listing_id: { type: string }
                  status:
                    type: string
                    enum: [listed, hidden, retired]
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/market/creators/{handle}:
    get:
      tags: [Creator Profiles, Market Public]
      summary: Get public creator profile and listings
      operationId: getCreatorProfile
      security: []
      parameters:
        - $ref: '#/components/parameters/CreatorHandle'
      responses:
        '200':
          description: Creator profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorDetail'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/publish/me:
    get:
      tags: [Creator Publish]
      summary: Get the authenticated user's creator profile, if one exists
      operationId: getMyCreatorProfile
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Creator profile or null
          content:
            application/json:
              schema:
                type: object
                required: [creator]
                properties:
                  creator:
                    anyOf:
                      - $ref: '#/components/schemas/CreatorDetail'
                      - type: 'null'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/publish/drafts:
    get:
      tags: [Creator Publish]
      summary: List publish drafts for the authenticated creator
      operationId: listPublishDrafts
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [draft, validated, submitted, approved, rejected]
      responses:
        '200':
          description: Draft list
          content:
            application/json:
              schema:
                type: object
                required: [drafts]
                properties:
                  drafts:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublishDraft'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Authenticated user is not a creator
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
    post:
      tags: [Creator Publish]
      summary: Create a publish draft
      operationId: createPublishDraft
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDraftRequest'
      responses:
        '201':
          description: Draft created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishDraft'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Authenticated user is not a creator
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
  /v1/publish/drafts/{draftId}:
    get:
      tags: [Creator Publish]
      summary: Get draft detail
      operationId: getPublishDraft
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/DraftId'
      responses:
        '200':
          description: Draft detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishDraft'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Authenticated user is not a creator
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Creator Publish]
      summary: Delete a non-submitted draft
      operationId: deletePublishDraft
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/DraftId'
      responses:
        '200':
          description: Draft deleted
          content:
            application/json:
              schema:
                type: object
                required: [deleted, draft_id]
                properties:
                  deleted: { type: boolean }
                  draft_id: { type: string }
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Authenticated user is not a creator
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/publish/drafts/{draftId}/manifest:
    put:
      tags: [Creator Publish]
      summary: Attach or replace draft manifest metadata
      operationId: putDraftManifest
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/DraftId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutDraftManifestRequest'
      responses:
        '200':
          description: Draft updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishDraft'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Authenticated user is not a creator
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/publish/submit:
    post:
      tags: [Creator Publish]
      summary: Submit a validated draft for review and listing publication
      operationId: submitPublishDraft
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishSubmitRequest'
      responses:
        '202':
          description: Draft accepted for moderation workflow
          content:
            application/json:
              schema:
                type: object
                required: [draft_id, moderation_job_id, status]
                properties:
                  draft_id: { type: string }
                  moderation_job_id: { type: string }
                  status:
                    type: string
                    enum: [queued, pending_review]
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Authenticated user is not a creator
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
  /v1/me/library:
    get:
      tags: [User Library]
      summary: Get the authenticated user's library of saved or installed assets
      operationId: getMyLibrary
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: kind
          schema:
            type: string
            enum: [employee, skill, sop, company_template, office_layout, bundle, prefab]
      responses:
        '200':
          description: User library
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LibraryItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/reviews:
    post:
      tags: [Reviews]
      summary: Create or replace a review for a listing
      operationId: upsertReview
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReviewRequest'
      responses:
        '200':
          description: Existing review updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '201':
          description: Review written
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/install/receipts:
    post:
      tags: [Install Platform]
      summary: Record a successful install receipt on the platform
      operationId: recordInstallReceipt
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstallReceiptRequest'
      responses:
        '200':
          description: Install receipt recorded or already present
          content:
            application/json:
              schema:
                type: object
                required: [install_receipt_id, listing_id, package_version_id, status]
                properties:
                  install_receipt_id: { type: string }
                  listing_id: { type: string }
                  package_version_id: { type: string }
                  status:
                    type: string
                    enum: [recorded, already_exists]
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/install/download/{versionId}:
    get:
      tags: [Install Platform]
      summary: Get artifact download metadata for a package version
      operationId: getInstallDownload
      security: []
      parameters:
        - $ref: '#/components/parameters/VersionId'
      responses:
        '200':
          description: Artifact metadata
          content:
            application/json:
              schema:
                type: object
                required: [package_version_id, artifact_url]
                properties:
                  package_version_id: { type: string }
                  artifact_url: { type: string, format: uri }
                  artifact_sha256: { type: string, nullable: true }
                  artifact_size_bytes: { type: integer, nullable: true }
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/install/resolve:
    post:
      tags: [Install Runtime]
      summary: Resolve a registry listing or version into an install plan
      description: >
        Runtime-local endpoint. Pulls public metadata from the registry, validates compatibility
        with the local runtime, and returns a declaration-only install plan. No package materialization
        occurs at this stage.
      operationId: resolveInstallPlan
      x-offisim-runtime-scope: local
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstallResolveRequest'
      responses:
        '200':
          description: Install plan created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstallPlan'
        '409':
          description: Compatibility or dependency conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstallConflictResponse'
  /v1/install/file-import:
    post:
      tags: [Install Runtime]
      summary: Import a local .offisimpkg file into the runtime
      description: >
        Runtime-local endpoint. Reads a local package archive, validates manifest and checksums,
        computes required bindings, and creates an install transaction. No arbitrary scripts may run.
      operationId: importPackageFile
      x-offisim-runtime-scope: local
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [company_id, file_path]
              properties:
                company_id: { type: string }
                file_path: { type: string, minLength: 1 }
                import_mode:
                  type: string
                  enum: [dry_run, install]
                  default: install
      responses:
        '202':
          description: Import transaction created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstallTransaction'
        '400':
          $ref: '#/components/responses/ValidationError'
  /v1/install/url-import:
    post:
      tags: [Install Runtime]
      summary: Import a package by direct URL into the runtime
      description: >
        Runtime-local endpoint. Downloads a remote package artifact from an allowlisted origin or
        explicit user-provided URL, validates the package, then creates an install transaction.
      operationId: importPackageUrl
      x-offisim-runtime-scope: local
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [company_id, source_url]
              properties:
                company_id: { type: string }
                source_url: { type: string, format: uri }
                import_mode:
                  type: string
                  enum: [dry_run, install]
                  default: install
      responses:
        '202':
          description: Import transaction created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstallTransaction'
        '400':
          $ref: '#/components/responses/ValidationError'
  /v1/install/{installTxnId}:
    get:
      tags: [Install Runtime]
      summary: Fetch install transaction state
      operationId: getInstallTransaction
      x-offisim-runtime-scope: local
      parameters:
        - $ref: '#/components/parameters/InstallTxnId'
      responses:
        '200':
          description: Install transaction detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstallTransaction'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/install/{installTxnId}/confirm-bindings:
    post:
      tags: [Install Runtime]
      summary: Confirm model, MCP, and workspace bindings required by an install plan
      operationId: confirmInstallBindings
      x-offisim-runtime-scope: local
      parameters:
        - $ref: '#/components/parameters/InstallTxnId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bindings]
              properties:
                bindings:
                  type: array
                  items:
                    $ref: '#/components/schemas/BindingChoice'
      responses:
        '200':
          description: Install transaction updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstallTransaction'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API token or Better Auth bearer session
  parameters:
    ListingId:
      name: listingId
      in: path
      required: true
      schema: { type: string }
    Slug:
      name: slug
      in: path
      required: true
      schema: { type: string }
    CreatorHandle:
      name: handle
      in: path
      required: true
      schema: { type: string }
    DraftId:
      name: draftId
      in: path
      required: true
      schema: { type: string }
    VersionId:
      name: versionId
      in: path
      required: true
      schema: { type: string }
    InstallTxnId:
      name: installTxnId
      in: path
      required: true
      schema: { type: string }
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    ValidationError:
      description: Validation failed
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
  schemas:
    SearchResponse:
      type: object
      required: [items, page, per_page, total]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/ListingSummary' }
        page: { type: integer, minimum: 1 }
        per_page: { type: integer, minimum: 1 }
        total: { type: integer, minimum: 0 }
    ListingSummary:
      type: object
      required:
        [listing_id, slug, kind, title, summary, creator, status, latest_version, rating, install_count]
      properties:
        listing_id: { type: string }
        slug: { type: string }
        kind:
          type: string
          enum: [employee, skill, sop, company_template, office_layout, bundle, prefab]
        title: { type: string }
        summary: { type: string }
        creator:
          $ref: '#/components/schemas/CreatorSummary'
        status:
          type: string
          enum: [listed, hidden, retired]
        latest_version: { type: string }
        rating: { type: number, format: float }
        install_count: { type: integer, minimum: 0 }
        tags:
          type: array
          items: { type: string }
        preview:
          $ref: '#/components/schemas/PreviewRef'
    ListingDetail:
      allOf:
        - $ref: '#/components/schemas/ListingSummary'
        - type: object
          required: [description, requirements, permissions]
          properties:
            description: { type: string }
            version:
              anyOf:
                - $ref: '#/components/schemas/VersionSummary'
                - type: 'null'
            requirements:
              $ref: '#/components/schemas/RequirementsSummary'
            permissions:
              $ref: '#/components/schemas/PermissionSummary'
            lineage:
              $ref: '#/components/schemas/LineageSummary'
            previews:
              type: array
              items: { $ref: '#/components/schemas/PreviewRef' }
    VersionSummary:
      type: object
      required: [package_id, version, runtime_range, schema_version, environments, risk_class]
      properties:
        package_id: { type: string }
        package_version_id: { type: string }
        version: { type: string }
        runtime_range: { type: string }
        schema_version: { type: string }
        environments:
          type: array
          items:
            type: string
            enum: [desktop, docker, web_limited]
        risk_class:
          type: string
          enum: [data_asset, logic_asset, privileged_asset]
        published_at:
          type: string
          format: date-time
        changelog: { type: string }
    CreatorSummary:
      type: object
      required: [creator_id, handle, display_name, verification_state]
      properties:
        creator_id: { type: string }
        handle: { type: string }
        display_name: { type: string }
        verification_state:
          type: string
          enum: [unverified, verified, trusted]
    CreatorDetail:
      allOf:
        - $ref: '#/components/schemas/CreatorSummary'
        - type: object
          required: [created_at, listings]
          properties:
            bio: { type: string, nullable: true }
            website_url: { type: string, nullable: true }
            created_at:
              type: string
              format: date-time
            listings:
              type: array
              items:
                $ref: '#/components/schemas/ListingSummary'
    RequirementsSummary:
      type: object
      properties:
        required_capabilities:
          type: array
          items: { type: string }
        required_mcps:
          type: array
          items: { type: string }
        recommended_models:
          type: array
          items:
            $ref: '#/components/schemas/RecommendedModel'
    PermissionSummary:
      type: object
      properties:
        risk_class:
          type: string
          enum: [data_asset, logic_asset, privileged_asset]
        declares_secrets: { type: boolean }
        filesystem_scope:
          type: string
          enum: [none, workspace, project, custom_path]
        network_scope:
          type: string
          enum: [none, limited, unrestricted]
    RecommendedModel:
      type: object
      required: [profile]
      properties:
        profile: { type: string }
        reason: { type: string }
        provider_hints:
          type: array
          items: { type: string }
    LineageSummary:
      type: object
      properties:
        origin_package_id: { type: string }
        forked_from_version: { type: string }
        derivative_of:
          type: array
          items: { type: string }
    LineageNode:
      type: object
      required: [listingId, title, slug, version]
      properties:
        listingId: { type: string }
        title: { type: string }
        slug: { type: string }
        version: { type: string }
    ForkSummary:
      type: object
      required: [listingId, title, slug, creatorHandle, version, forkedAt]
      properties:
        listingId: { type: string }
        title: { type: string }
        slug: { type: string }
        creatorHandle: { type: string }
        version: { type: string }
        forkedAt:
          type: string
          format: date-time
    PreviewRef:
      type: object
      properties:
        kind:
          type: string
          enum: [icon, image, video, readme]
        url:
          type: string
          format: uri
        alt: { type: string }
    PublishDraft:
      type: object
      required: [draft_id, creator_id, kind, title, status, created_at, updated_at]
      properties:
        draft_id: { type: string }
        creator_id: { type: string }
        listing_id: { type: string, nullable: true }
        kind:
          type: string
          enum: [employee, skill, sop, company_template, office_layout, bundle, prefab]
        title: { type: string }
        summary: { type: string, nullable: true }
        artifact_id: { type: string, nullable: true }
        manifest_json:
          type: object
          additionalProperties: true
        validation_state:
          type: string
          enum: [unknown, valid, invalid]
        validation_report:
          type: object
          additionalProperties: true
        status:
          type: string
          enum: [draft, validated, submitted, approved, rejected]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CreateDraftRequest:
      type: object
      required: [kind, title]
      properties:
        kind:
          type: string
          enum: [employee, skill, sop, company_template, office_layout, bundle, prefab]
        listing_id:
          type: string
          nullable: true
        title:
          type: string
          minLength: 1
        summary:
          type: string
    PutDraftManifestRequest:
      type: object
      required: [manifest_json]
      properties:
        manifest_json:
          type: object
          additionalProperties: true
        artifact:
          type: object
          properties:
            external_url:
              type: string
              format: uri
            sha256:
              type: string
            size_bytes:
              type: integer
              minimum: 0
    PublishSubmitRequest:
      type: object
      required: [draft_id]
      properties:
        draft_id: { type: string }
        submit_message: { type: string }
    LibraryItem:
      type: object
      required: [listing, version, saved_at]
      properties:
        listing:
          $ref: '#/components/schemas/ListingSummary'
        version:
          $ref: '#/components/schemas/VersionSummary'
        saved_at:
          type: string
          format: date-time
        install_receipt_id:
          type: string
          nullable: true
    CreateReviewRequest:
      type: object
      required: [listing_id, rating]
      properties:
        listing_id: { type: string }
        rating:
          type: integer
          minimum: 1
          maximum: 5
        title:
          type: string
        body:
          type: string
    ListingReportRequest:
      type: object
      required: [reason]
      properties:
        reason:
          type: string
          enum: [spam, malicious_code, copyright, misleading, other]
        details:
          type: string
          maxLength: 1000
    ModerationFlag:
      type: object
      required: [flag_id, target_type, target_id, reason, status, created_at]
      properties:
        flag_id: { type: string }
        target_type: { type: string }
        target_id: { type: string }
        reason: { type: string }
        status: { type: string }
        created_at:
          type: string
          format: date-time
    RegisterCreatorRequest:
      type: object
      required: [handle, display_name]
      properties:
        handle:
          type: string
          minLength: 3
          maxLength: 30
        display_name:
          type: string
          minLength: 1
          maxLength: 100
        bio:
          type: string
          maxLength: 500
    CreatorRegistration:
      type: object
      required: [creator_id, user_id, handle, display_name, verification_state, created_at]
      properties:
        creator_id: { type: string }
        user_id: { type: string }
        handle: { type: string }
        display_name: { type: string }
        bio: { type: string, nullable: true }
        verification_state:
          type: string
          enum: [unverified, verified, trusted]
        created_at:
          type: string
          format: date-time
    ListingStatusPatchRequest:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [listed, hidden, retired]
        reason:
          type: string
          maxLength: 500
    InstallReceiptRequest:
      type: object
      required: [listing_id, package_version_id, install_source]
      properties:
        listing_id: { type: string }
        package_version_id: { type: string }
        install_source:
          type: string
          enum: [registry, url, file]
    Review:
      type: object
      required: [review_id, listing_id, rating, moderation_state, created_at, updated_at]
      properties:
        review_id: { type: string }
        listing_id: { type: string }
        user_id: { type: string }
        rating:
          type: integer
          minimum: 1
          maximum: 5
        title: { type: string }
        body: { type: string }
        moderation_state:
          type: string
          enum: [visible, hidden, flagged]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    InstallResolveRequest:
      type: object
      required: [company_id]
      properties:
        company_id: { type: string }
        listing_id: { type: string, nullable: true }
        package_id: { type: string, nullable: true }
        version: { type: string, nullable: true }
        source_hint:
          type: string
          enum: [registry, url]
          default: registry
    InstallPlan:
      type: object
      required:
        [install_txn_id, state, package, compatibility, dependencies, bindings, permission_review]
      properties:
        install_txn_id: { type: string }
        state:
          type: string
          enum:
            [resolved, awaiting_confirmation, awaiting_bindings, ready_to_install, conflict]
        package:
          type: object
          required: [package_id, kind, version, title]
          properties:
            package_id: { type: string }
            kind:
              type: string
              enum: [employee, skill, sop, company_template, office_layout, bundle, prefab]
            version: { type: string }
            title: { type: string }
        compatibility:
          type: object
          required: [supported, environment, issues]
          properties:
            supported: { type: boolean }
            environment:
              type: string
              enum: [desktop, docker, web_limited]
            issues:
              type: array
              items: { type: string }
        dependencies:
          type: array
          items:
            type: object
            properties:
              package_id: { type: string }
              constraint: { type: string }
              status:
                type: string
                enum: [present, missing, conflicting, optional]
        bindings:
          type: array
          items:
            $ref: '#/components/schemas/BindingRequirement'
        permission_review:
          $ref: '#/components/schemas/PermissionSummary'
    BindingRequirement:
      type: object
      required: [binding_type, binding_key, status]
      properties:
        binding_type:
          type: string
          enum: [model_profile, mcp_slot, secret_slot, workspace_map]
        binding_key: { type: string }
        description: { type: string }
        status:
          type: string
          enum: [required, optional, satisfied, pending]
    BindingChoice:
      type: object
      required: [binding_type, binding_key]
      properties:
        binding_type:
          type: string
          enum: [model_profile, mcp_slot, secret_slot, workspace_map]
        binding_key: { type: string }
        binding_value:
          type: object
          additionalProperties: true
    InstallTransaction:
      type: object
      required: [install_txn_id, company_id, state, source_type, started_at]
      properties:
        install_txn_id: { type: string }
        company_id: { type: string }
        source_type:
          type: string
          enum: [registry, url, file]
        source_ref: { type: string, nullable: true }
        target_package_id: { type: string, nullable: true }
        target_version: { type: string, nullable: true }
        state:
          type: string
          enum:
            [created, manifest_loaded, integrity_checked, compatibility_checked, dependency_planned,
             awaiting_confirmation, awaiting_bindings, materializing, installed, failed, rolled_back, cancelled]
        descriptor:
          type: object
          additionalProperties: true
        error_code: { type: string, nullable: true }
        error_detail: { type: string, nullable: true }
        started_at:
          type: string
          format: date-time
        finished_at:
          type: string
          format: date-time
          nullable: true
    InstallConflictResponse:
      type: object
      required: [install_txn_id, state, conflicts]
      properties:
        install_txn_id: { type: string }
        state:
          type: string
          enum: [conflict, failed]
        conflicts:
          type: array
          items: { type: string }
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code: { type: string }
            message: { type: string }
            details:
              type: object
              additionalProperties: true
